<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- SHRIFTNI O'ZGARTIRISH -->
     <style>
        @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
        * {
            font-family: "Itim", cursive;
            font-weight: 400;
            font-style: normal;
        }
     </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav d-flex justify-content-center w-100">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Bosh sahifa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/talabalar">Talabalar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guruhlar">Guruhlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/davomatlar">Davomatlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/baholash">Baholash</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kurslar">Kurslar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tariflar">Tariflar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ustozlar">Ustozlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tolovlar">To'lovlar</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/bildirishnomalar">Bildirishnomalar</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>